<!-- Features section -->
<div class="row justify-content-center text-center mt-lg-3">

    <div class="col-lg-4">
      <img src="images/pet_sos_1.png" alt="Emergency SOS" width="250" class="mb-3"/>
      <h2 class="h2">Emergency SOS</h2>
      <p>Instantly connect to a 24/7 vet clinic with just one click when your pet is in danger.</p>
    </div>
  
    <div class="col-lg-4">
      <img src="images/pet_sos_2.png" alt="Health Tracker Integration" width="250" class="mb-3"/>
      <h2 class="h2">Real-Time Tracker</h2>
      <p>Monitor your pet’s vital signs and activity levels through our integration with smart collars.</p>
    </div>
  
    <div class="col-lg-4">
      <img src="images/pet_sos_3.png" alt="Medication Reminders" width="250" class="mb-3"/>
      <h2 class="h2">Medication Reminders</h2>
      <p>Never miss a dose again with automated reminders for all your pet’s prescriptions.</p>
    </div>
  
  </div>

<div class="row justify-content-center text-center mt-lg-4">

  <div class="col-lg-4 mb-4">
    <h2 class="h2">Built-In Symptom Checker</h2>
    <p>
      Quickly determine if your pet needs urgent care 
      by comparing symptoms with vet-approved guidelines.
    </p>
  </div>

  <div class="col-lg-4 mb-4">
    <h2 class="h2">Transparent Price Estimates</h2>
    <p>
      Plan your budget with upfront cost estimates for 
      vet services and treatments.
    </p>
  </div>

  <div class="col-lg-4 mb-4">
    <h2 class="h2">Preventative Care Resources</h2>
    <p>
      Access articles and videos on preventative treatments 
      to keep your pet healthy and avoid emergencies.
    </p>
  </div>
</div>
